<%- include("header") -%>

<h1> <%= dateToday %></h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam aut quasi repellendus, omnis optio suscipit, enim officia numquam distinctio deserunt labore iste minima? Possimus omnis facere repellendus voluptatem rem et officia cumque eaque in inventore. Autem quas natus voluptas id repellat, optio non modi ipsum magnam ullam sunt perspiciatis tempore.</p>

<%- include("footer") -%>